body,
header,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
pre {
  margin: 0;
  font-family: sans-serif, "Roboto";
  font-weight: 300;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
}
pre {
  display: inline;
  font-size: 2rem;
}
.bold {
  font-weight: 500;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.App {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.render {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: hidden;
}
.App-content {
  min-height: 60px;
  height: 10%;
  max-width: 400px;
  min-width: 250px;
  display: flex;
  margin: 0 0 0 5vw;
  padding-left: 1.4rem;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  background: #55b9f3;
  box-shadow: 20px 20px 60px #489dcf, -20px -20px 60px #62d5ff;
  cursor: pointer;
}
.App-content:hover {
  background: #55f3c4aa;
}
.selected {
  min-height: 60px;
  height: 10%;
  max-width: 400px;
  min-width: 250px;
  display: flex;
  margin: 0 0 0 5vw;
  padding-left: 1.4rem;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  background: #a7dcf7;
  box-shadow: 20px 20px 60px #489dcf, -20px -20px 60px #62d5ff;
  cursor: pointer;
}
.selected:hover {
  background: #a7f7efd2;
}
.title {
  box-shadow: whitesmoke;
  font-family: "Teko", sans-serif;
  /* text-transform: uppercase; */
  animation: glow 2s ease-in-out infinite alternate;
}
.render {
  width: 100vw;
  height: 100vh;
}
.section {
  border-radius: 40px;
  width: 65%;
  height: 80%;
  top: 10%;
  right: 3%;
  position: absolute;
  padding: 1.5rem;
  box-sizing: border-box;
  color: #222;
}
.logo {
  height: 4vh;
  margin: 0 1rem;
}
/* WELCOME */
.welcomeDiv {
  background-color: rgba(228, 215, 228, 0.842);
  display: flex;
  flex-direction: column;
  padding: 4.5rem 5rem 5rem;
}
.w_contentCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.w_grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.w_content {
  margin: 3rem 0 1rem;
}
.w_listItem {
  font-size: 1.3rem;
  line-height: 2.6rem;
  background-color: rgba(34, 34, 34, 0.694);
  color: rgb(227, 227, 227);
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* SKILLS */
.skillsDiv {
  background-color: rgba(245, 244, 238, 0.817);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 4rem 5rem;
}
.s_skillsCont {
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
}
.s_skillsCont :hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.s_contentContainer {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  background: linear-gradient(
    to right,
    rgba(25, 25, 25, 0) 0%,
    rgba(25, 25, 25, 0.3) 35%,
    rgba(255, 255, 255, 0) 60%,
    rgba(25, 25, 25, 0) 100%
  );
}
.s_contentContainerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 0;
  background: linear-gradient(
    to right,
    rgba(25, 25, 25, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(25, 25, 25, 0.3) 66%,
    rgba(25, 25, 25, 0) 100%
  );
}
.smallLogo {
  height: 3vh;
}
/* PROJECTS */
.projectsDiv {
  background-color: rgba(216, 227, 237, 0.9);
  padding: 0;
  box-sizing: border-box;
  padding: 0.5rem 0 1.5rem 0;
}
.p_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
}
.p_arrow {
  position: relative;
  width: 50px;
  padding: 0.75rem 0;
  background-color: rgba(255, 255, 255, 0.714);
  display: inline-block;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #6a6a6a;
  text-align: center;
  transition: all 0.2s;
  z-index: 10;
}
.p_arrow:hover {
  color: #000000;
  background-color: #ffffff;
}
.p_arrowLeft {
  left: 10px;
}
.p_content {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.p_contentH {
  text-align: center;
  margin: 1rem 0 -0.5rem;
}
.p_imgandp {
  height: 400px;
}
.snapshot {
  position: relative;
  top: 80.1px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px lightgray;
  max-width: 500px;
  transition: 0.5s;
}
.p_descriptionContainer {
  opacity: 0;
  position: relative;
  top: -124px;
  left: 1px;
  border-radius: 0 0 10px 10px;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.7rem;
  height: 200px;
  padding: 1rem;
  max-width: 500px;
  box-sizing: border-box;
  transition: 0.5s;
  background-color: rgba(16, 84, 157, 0.927);
  z-index: 10;
  transition: 0.5s;
}
.snapshot:hover + .p_descriptionContainer,
.p_descriptionContainer:hover {
  opacity: 1;
}
/* .snapshot:hover {
  filter: opacity(50%);
  box-shadow: 6px 6px rgba(173, 173, 173, 0.5);
} */
/* .snapshot:hover + .p_descriptionContainer {
  background-color: rgba(16, 84, 157, 0.927);
} */
/* .p_descriptionContainer:hover {
  background-color: rgba(16, 84, 157, 0.927);
} */
.p_btnCont {
  position: relative;
  top: 0rem;
  z-index: 10;
}
.p_description {
  color: white;
}
.p_button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #6a6a6a;
  text-align: center;
  transition: all 0.2s;
  margin: -0.5rem 1rem 0;
  outline: none;
}
.p_button:hover {
  color: #000000;
  background-color: #ffffff;
}
.p_arrowRight {
  transform: rotate(180deg);
  right: 10px;
}
/* CONTACT */
.contactDiv {
  background-color: rgba(191, 216, 208, 0.9);
  display: flex;
  flex-direction: column;
  padding: 4rem 5rem 5rem;
}
.c_contentContainer {
  width: 100%;
  height: 100%;
}
.c_content1 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.c_title {
  text-align: end;
  padding-left: 1.5rem;
}
.c_arrowContainer {
  padding: 1rem 1rem 0;
  margin: 0 0 -2.2rem;
  display: flex;
  justify-content: flex-end;
}
.arrow {
  transform: rotate(-45deg);
  justify-self: start;
  width: 40px;
}
.c_content11 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c_p {
  font-size: 1.2rem;
  margin: 1.2rem 0;
  text-align: center;
  width: fit-content;
  text-align: center;
}
.c_p:hover {
  transform: rotate(2deg);
}
.c_p a {
  text-decoration: none;
}
.c_imgCont {
  padding: 0.9rem 1rem;
  border-radius: 100px;
  box-shadow: 5px 5px 10px lightgray;
}
.c_imgCont:hover {
  box-shadow: 2px 2px 5px lightgrey;
  background-color: rgba(220, 220, 193, 0.735);
}
.img {
  width: 50px;
  height: 50px;
}
.whats {
  width: 55px;
  height: 55px;
}
.c_content12 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* ACADEMIC */
.academicDiv {
  background-color: rgba(237, 223, 216, 0.9);
  box-sizing: border-box;
  padding: 3rem 5rem;
}
.academicDiv h2 {
  margin-bottom: 1rem;
}
.academicDiv li {
  line-height: 3rem;
  font-size: 1.2rem;
}
.academicDiv p {
  margin-top: 1rem;
}
.academicDiv a {
  text-decoration: none;
  color: blue;
}
.a_open {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
}
.a_open:hover {
  transform: rotate(3deg);
}
.a_open img {
  margin-left: 0.4rem;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #2da92d;
  }
  to {
    text-shadow: 0 0 10px #fffa5e, 0 0 10px #ff3131;
  }
}
